@charset "UTF-8";
/*Aspectos generales del sitio*/
* {
  margin: 0;
  padding: 0;
}

body {
  /*Fondo del sitio*/
  background-image: url(../media/FONDO/background-1044837.jpg);
  max-height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /*Estilo de texto*/
  font-family: "Raleway";
  color: #580C74;
}

.letrasLink {
  font-size: 1rem;
  font-weight: bold;
  list-style: none;
}

/*Header y footer*/
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

/*Aspectos del index*/
#cv {
  grid-area: cv;
}

#portfolio {
  grid-area: portfolio;
}

#bio {
  grid-area: bio;
}

#contact {
  grid-area: contact;
}

/*Diseño responsive*/
@media screen and (max-width: 767px) {
  .menuDeNavegacion {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: "cv portfolio" "bio contact";
  }
}
@media screen and (min-width: 1024px) {
  .menuDeNavegacion {
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    padding-right: 20px;
  }
  #cv, #bio {
    padding-top: 25px;
    padding-bottom: 20%;
    align-items: baseline;
  }
  #portfolio, #contact {
    padding-bottom: 25px;
    padding-top: 20%;
    align-items: baseline;
  }
}
/*Aspectos del Currículum*/
#scrollLink {
  grid-area: scrollLink;
  display: flex;
  flex-direction: row;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  justify-content: space-around;
  list-style-type: none;
}

#formacion {
  grid-area: formacion;
}

#experiencia {
  grid-area: experiencia;
}

#lenguajes {
  grid-area: lenguajes;
}

#descargar {
  grid-area: descargar;
  margin-bottom: 10%;
  margin-right: 5%;
  width: 10%;
  justify-self: end;
}

.curriculum {
  font-size: large;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 200px auto auto auto auto;
  grid-template-areas: "scrollLink" "formacion" "experiencia" "lenguajes" "descargar";
}

/*Aspectos del portfolio*/
#portfolioTitle {
  display: inline-block;
  position: -webkit-sticky;
  position: sticky;
  padding: 3px 3px 3px 3px;
  margin: 3px 3px 3px 3px;
}

#flexPortfolio {
  display: flex;
  flex-direction: row;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  justify-content: space-around;
  list-style-type: none;
  padding: 5px 5px 5px 5px;
  margin: 5px 5px 5px 5px;
  font-size: larger;
}

/*Aspectos del Sobre mí*/
/*GRID*/
#historia {
  grid-area: historia;
}

#cita {
  grid-area: cita;
}

#video {
  grid-area: video;
  margin-bottom: 50%;
}

.aboutMe {
  display: grid;
  grid-template-columns: 30% 30% 40%;
  grid-template-rows: 15% 30% 55%;
  grid-template-areas: "cita cita cita" "historia historia video" "historia historia video";
  font-size: large;
}

/*Aspectos del Contacto*/
.frame {
  margin-top: 2%;
  margin-left: 3%;
  margin-right: 3%;
}

.contacto {
  display: block;
  margin: 3px 3px 3px 3px;
  font-size: 30px;
}/*# sourceMappingURL=proyecto.css.map */